USE [master]
GO
/****** Object:  Database [Pharmacy]    Script Date: 19/07/2026 11:39:56 ******/
CREATE DATABASE [Pharmacy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pharmacy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pharmacy.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pharmacy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pharmacy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pharmacy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pharmacy]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartItem] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[AddedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Balance] [int] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NULL,
	[ThirdName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[NationalityCountryID] [int] NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProducingDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[LastRefillDate] [datetime] NOT NULL,
	[AddedByUserID] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[LastOperationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefillHistories]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefillHistories](
	[RefillHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[OldAmount] [int] NOT NULL,
	[NewAmount] [int] NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[AddedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_RefillHistories] PRIMARY KEY CLUSTERED 
(
	[RefillHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [smallmoney] NOT NULL,
 CONSTRAINT [PK_SaleDetails] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[SaleStatus] [tinyint] NOT NULL,
	[AddedByUserID] [int] NOT NULL,
	[SaleDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserJoiningApplications]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserJoiningApplications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ApplicationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserJoiningApplications] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Permission] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItem_Products]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Customers1] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Customers1]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Users] FOREIGN KEY([AddedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Users]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_People]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Countries] FOREIGN KEY([NationalityCountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Countries]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users] FOREIGN KEY([AddedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users]
GO
ALTER TABLE [dbo].[RefillHistories]  WITH CHECK ADD  CONSTRAINT [FK_RefillHistories_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[RefillHistories] CHECK CONSTRAINT [FK_RefillHistories_Products]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Carts] FOREIGN KEY([CartID])
REFERENCES [dbo].[Carts] ([CartID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Carts]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Users] FOREIGN KEY([AddedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Users]
GO
ALTER TABLE [dbo].[UserJoiningApplications]  WITH CHECK ADD  CONSTRAINT [FK_UserJoiningApplications_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[UserJoiningApplications] CHECK CONSTRAINT [FK_UserJoiningApplications_People]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_People]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewApplication]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_AddNewApplication]
@PersonID int,
@Status tinyint,
@ApplicationDate datetime,
@ApplicationID int output
as
begin
insert into UserJoiningApplications(PersonID, status, ApplicationDate)
values(@PersonID, @Status, @ApplicationDate)

set @ApplicationID = Scope_Identity()
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewCart]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddNewCart]
@CustomerID int,
@CartID int output
as
begin
	insert into Carts(CustomerID) values(@CustomerID)

	set @CartID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewCategory]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[sp_AddNewCategory]
@CategoryName nvarchar(50),
@Description nvarchar(max),
@LastUpdateDate datetime,
@AddedByUserID int,
@CategoryID int output
as
begin
Insert into Categories(CategoryName, Description, LastUpdateDate, AddedByUserID)
values(@CategoryName, @Description, @LastUpdateDate, @AddedByUserID)

set @CategoryID = SCOPE_IDENTITY()
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewCustomer]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddNewCustomer]
@PersonID int,
@Balance int,
@CustomerID int output
as
begin
insert into Customers(PersonID, Balance)
values (@PersonID, @Balance)

set @CustomerID = Scope_Identity();
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewItem]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_AddNewItem]
@CartID int,
@ProductID int,
@Quantity int,
@ItemID int output
as
begin
	insert into CartItems(CartID, ProductID, Quantity)
	values(@CartID, @ProductID, @Quantity)

	set @ItemID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewPerson]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_AddNewPerson]
@FirstName nvarchar(50), @SecondName nvarchar(50), @ThirdName nvarchar(50),
@LastName nvarchar(50), @NationalityCountryID int, @Gender tinyInt, @DateOfBirth datetime
, @Phone nvarchar(20), @Email nvarchar(200), @Address nvarchar(200), @ImageUrl nvarchar(Max),
@PersonID int output
as
begin
Insert into People(FirstName, SecondName, ThirdName, LastName, NationalityCountryID, Gender
, DateOfBirth, Phone, Email, Address, ImageUrl)
values (@FirstName, @SecondName, @ThirdName,
@LastName, @NationalityCountryID, @Gender, @DateOfBirth
, @Phone, @Email, @Address, @ImageUrl)

set @personID = Scope_Identity();
end

GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewProduct]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_AddNewProduct]
@Name nvarchar(50),
@Description nvarchar(Max),
@CategoryID int,
@ProducingDate DateTime,
@ExpiryDate DateTime,
@Quantity int,
@Price int,
@LastRefillDate DateTime,
@AddedByUserID int,
@ImageUrl nvarchar(Max),
@LastOperationDate DateTime,
@ProductID int output
as
begin
insert into Products(Name, Description, CategoryID, ProducingDate, ExpiryDate, Quantity
, Price, LastRefillDate, AddedByUserID, ImageUrl, LastOperationDate)
values(@Name, @Description, @CategoryID, @ProducingDate, @ExpiryDate, @Quantity, @Price
, @LastRefillDate, @AddedByUserID, @ImageUrl, @LastOperationDate)

set @ProductID = SCOPE_IDENTITY()
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewSale]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddNewSale]
@CartID int,
@SaleDate datetime,
@AddedByUserID int,
@SaleStatus tinyint,
@SaleID int output
as
begin
insert into Sales(CartID, SaleStatus, AddedByUserID, SaleDate)
values(
@CartID, @SaleStatus, @AddedByUserID, @SaleDate)

set @SaleID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewUser]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddNewUser]
@UserName nvarchar(50),
@Password nvarchar(50),
@PersonID int,
@Permission int,
@IsActive bit,
@UserID int output 
as
begin
insert into Users(UserName, Password, PersonID, Permission, IsActive)
values(@UserName, @Password, @PersonID, @Permission, @IsActive)
set @UserID = Scope_Identity();
end
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckBalance]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_CheckBalance]
@CartID int
as
begin
declare @InvoiceTotal money;
Select @InvoiceTotal = Sum(CI.Quantity * P.Price)
	from Products P join CartItems CI on CI.ProductID = P.ProductID
	where CartID = @CartID
IF Exists 
	(
	Select 1 from Customers C  join Carts CA 
	on CA.CustomerID = C.CustomerID
	where CA.CartID = @CartID And Balance < @InvoiceTotal
	)

			BEGIN
				RAISERROR('Insufficient balance.',16,1);
				RETURN;
			END
end
GO
/****** Object:  StoredProcedure [dbo].[sp_checkout]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_checkout]
@CartID int, @AddedByUserID int
as
begin

	Declare @SaleID int, @DetailID int
	declare @InvoiceTotal money;

	IF NOT EXISTS
		(
			SELECT 1
			FROM CartItems
			WHERE CartID = @CartID
		)
		BEGIN
			RAISERROR('Cart is empty.',16,1);
			RETURN;
		END


			IF EXISTS
	(
		SELECT 1
		FROM CartItems CI
		JOIN Products P
		  ON P.ProductID = CI.ProductID
		WHERE CI.CartID = @CartID
		  AND P.Quantity < CI.Quantity
	)
	BEGIN
		RAISERROR('Insufficient stock.',16,1);
		RETURN;
	END


	Select @InvoiceTotal = Sum(CI.Quantity * P.Price)
	from Products P join CartItems CI on CI.ProductID = P.ProductID
	where CartID = @CartID


	
	IF Exists 
	(
	Select 1 from Customers C  join Carts CA 
	on CA.CustomerID = C.CustomerID
	where CA.CartID = @CartID And Balance < @InvoiceTotal
	)

			BEGIN
				RAISERROR('Insufficient balance.',16,1);
				RETURN;
			END

begin try

	begin transaction

	insert into Sales(CartID, SaleStatus, AddedByUserID, SaleDate)
	values (@CartID, 0, @AddedByUserID, GETDATE())
	set @SaleID = SCOPE_IDENTITY()

	INSERT INTO SaleDetails (SaleID, ProductID, Quantity, UnitPrice)
	SELECT @SaleID, CartItems.ProductID, CartItems.Quantity, Products.Price FROM CartItems
	inner join Products on Products.ProductID = CartItems.ProductID
	WHERE CartID=@CartID;
	set @DetailID = SCOPE_IDENTITY();


	UPDATE P
	SET P.Quantity = P.Quantity - CI.Quantity
	FROM Products P
	JOIN CartItems CI
	ON P.ProductID = CI.ProductID
	WHERE CI.CartID=@CartID;

	Update Customers
	set Balance -= @InvoiceTotal
	from Customers C join Carts CA 
	on CA.CustomerID = C.CustomerID
	where CA.CartID = @CartID;


	DELETE
	FROM CartItems
	WHERE CartID = @CartID;

	Update Sales 
	set SaleStatus = 1
	where SaleID = @SaleID;
 
	commit;

end try
begin catch
	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION;

	THROW;
end catch


end

Select * from Sales
Select * from SaleDetails
select * from CartItems
select * from Carts
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCategory]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_DeleteCategory]
@CategoryID int
as
begin
Delete Categories
where CategoryID = @CategoryID;

end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteItem]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_DeleteItem]
@ItemID int
as
begin
	Delete CartItems
	where ItemID = @ItemID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePerson]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_DeletePerson]
@PersonID int
as 
begin
delete People where PersonID = @PersonID 

end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProduct]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DeleteProduct]
@ProductID int
as
begin
Delete Products
where ProductID = @ProductID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeleteUser]
@UserID int
as
begin
Delete Users
where UserID = @UserID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DoesCustomerHaveCart]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DoesCustomerHaveCart]
@CustomerID int
as
begin
select find = 1 from Carts
where Carts.CustomerID =  @CustomerID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DoesItemFindInTheCart]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DoesItemFindInTheCart]
@CartID int,
@ProductID int
as
begin
Select find = 1 from CartItems
where CartID = @CartID and ProductID = @ProductID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllApplications]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_GetAllApplications]
as
begin
SELECT UserJoiningApplications.ApplicationID, UserJoiningApplications.PersonID, People.FirstName+ ' '+ People.SecondName + ' ' + People.ThirdName+ ' ' + People.LastName as FullName, People.Phone, 
                  case UserJoiningApplications.Status
                  when 0 then 'New'
                  when 1 then 'Cancelled'
                  when 2 then 'Completed' end as Status
                  , UserJoiningApplications.ApplicationDate
FROM     UserJoiningApplications INNER JOIN
                  People ON People.PersonID = UserJoiningApplications.PersonID
                  end

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCartItemsForCartID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_GetAllCartItemsForCartID]
@CartID int
as
begin
	Select ItemID, Products.Name as ProductName, Products.Price
	, CartItems.Quantity, CartItems.Quantity * Products.price as TotalPrice, GETDATE() as AdditionDate from CartItems
	inner join Carts on Carts.CartID = CartItems.CartID
	inner join Products on Products.ProductID = CartItems.ProductID
	where CartItems.CartID = @CartID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetAllCategories]
as
begin
Select * from Categories

end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCountries]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetAllCountries]
as 
begin
select * from Countries;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCustomers]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetAllCustomers]
as
begin
select C.CustomerID, c.PersonID, FirstName + ' ' + SecondName + ' ' 
+ ThirdName + ' ' + LastName as FullName, case p.Gender
when 0 then 'Male'
when 1 then 'Female'
end as Gender, p.Phone,  p.Email 
from Customers c inner join People p
on c.PersonID = p.PersonID 
end

Select * from Customers


GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPeople]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetAllPeople]
as
begin
select PersonID, FirstName + ' ' + SecondName + ' ' + ThirdName + ' ' +  LastName
as FullName,
case
when Gender = 0 then 'Male'
when Gender = 1 then 'Female'
end as Gender,
DateOfBirth,
Countries.CountryName, 
Phone, Email, Address
from People INNER JOIN Countries ON Countries.CountryID = People.NationalityCountryID

end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllProducts]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_GetAllProducts]
as
begin
SELECT Products.ProductID, Products.Name, Categories.CategoryName, Products.ProducingDate, Products.ExpiryDate, Products.Quantity, Products.Price, Products.LastRefillDate, Products.LastOperationDate, 
                  Products.AddedByUserID
FROM     Categories INNER JOIN
                  Products ON Categories.CategoryID = Products.CategoryID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSalesInfo]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetAllSalesInfo]
as
begin
    SELECT
        S.SaleID,cartID,
        S.SaleDate,
        P.Name,
        SD.Quantity,
        SD.UnitPrice,
        SD.Quantity * SD.UnitPrice AS LineTotal,
        SUM(SD.Quantity * SD.UnitPrice)
            OVER(PARTITION BY S.SaleID) AS InvoiceTotal
    FROM Sales S
    INNER JOIN SaleDetails SD
        ON S.SaleID = SD.SaleID
    INNER JOIN Products P
        ON P.ProductID = SD.ProductID
    ORDER BY S.SaleID;

end

Select * from SaleDetails
Select * from Sales




GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetAllUsers]
as
begin

SELECT Users.UserID, Users.UserName, Users.PersonID
, UserJoiningApplications.ApplicationID
, People.FirstName + ' ' + People.SecondName + ' ' + People.ThirdName + ' ' + People.LastName as FullName, Users.IsActive
FROM     People INNER JOIN
                  UserJoiningApplications ON People.PersonID = UserJoiningApplications.PersonID INNER JOIN
                  Users ON People.PersonID = Users.PersonID
end


GO
/****** Object:  StoredProcedure [dbo].[sp_GetApplicationByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_GetApplicationByID]
@ApplicationID int
as
begin
select * from UserJoiningApplications where ApplicationID = @ApplicationID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetApplicationByPersonID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_GetApplicationByPersonID]
@PersonID int
as
begin
select * from UserJoiningApplications where PersonID = @PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCartByCustomerID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetCartByCustomerID]
@CustomerID int
as
begin
	select * from Carts where CustomerID = @CustomerID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCartByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetCartByID]
@CartID int
as
begin
	select * from Carts where CartID = @CartID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCartItemByCartID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_GetCartItemByCartID]
@CartID int
as
begin
	Select * from CartItems where CartID = @CartID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCartItemByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetCartItemByID]
@ItemID int
as
begin
	Select * from CartItems where ItemID = @ItemID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCartItemByProductID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_GetCartItemByProductID]
@ProductID int
as
begin
	Select * from CartItems where ProductID = @ProductID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryInfoByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetCategoryInfoByID]
@CategoryID int
as
begin
select * from Categories
where CategoryID = @CategoryID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryInfoByName]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetCategoryInfoByName]
@CategoryName nvarchar(100)
as
begin
select * from Categories
where CategoryName = @CategoryName;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCountryInfoByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetCountryInfoByID]
@CountryID int
as 
begin
select * from Countries where CountryID = @CountryID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCountryInfoByName]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetCountryInfoByName]
@CountryName nvarchar(50)
as 
begin
select * from Countries where CountryName = @CountryName;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerInfoByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetCustomerInfoByID]
@CustomerID int
as
begin
select * from Customers where CustomerID = @CustomerID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerInfoByPersonID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetCustomerInfoByPersonID]
@PersonID int
as
begin
select * from Customers where PersonID = @PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPersonInfoByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetPersonInfoByID] 
@PersonID int
as
begin
Select * from People where @PersonID = PersonID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductInfoByCategoryID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetProductInfoByCategoryID]
@CategoryID int
as
begin
select * from Products where CategoryID = @CategoryID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductInfoByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetProductInfoByID]
@ProductID int
as
begin
select * from Products where ProductID = @ProductID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductInfoByName]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_GetProductInfoByName]
@Name nvarchar(50)
as
begin
select * from Products where Name = @Name;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSaleInfoByCartID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetSaleInfoByCartID]
@CartID int
as
begin
select * from Sales where CartID = @CartID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSaleInfoByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetSaleInfoByID]
@SaleID int
as
begin
select * from Sales where SaleID = @SaleID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserInfoByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetUserInfoByID]
@UserID int
as
begin
select * from Users where Users.UserID = @UserID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserInfoByPersonID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetUserInfoByPersonID]
@PersonID int
as
begin
select * from Users where Users.PersonID = @PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserInfoByUserNameAndPassword]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetUserInfoByUserNameAndPassword]
@UserName nvarchar(50),
@Password nvarchar(50)
as
begin
select * from Users where Users.UserName = @UserName and Users.Password = Password
end
GO
/****** Object:  StoredProcedure [dbo].[sp_IsCustomerExist]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_IsCustomerExist]
@CustomerID int
as
begin
select Found=1 from Customers where CustomerID = @CustomerID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_IsPersonExsist]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_IsPersonExsist]
@PersonID int
as 
begin
select found = 1 from People where PersonID = @PersonID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_IsProductOutOfStock]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_IsProductOutOfStock]
@ProductID int
as
begin
select OutOfStock = 1
from Products
where ProductID = @ProductID and Products.Count = 0
end
GO
/****** Object:  StoredProcedure [dbo].[sp_IsUserExistByID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_IsUserExistByID]
@UserID int
as
begin
Select Found = 1 from Users
where UserID = @UserID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_IsUserExistByUserName]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_IsUserExistByUserName]
@UserName nvarchar(50)
as
begin
Select Found = 1 from Users
where UserName = @UserName
end
GO
/****** Object:  StoredProcedure [dbo].[sp_IsUserExistForPersonID]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_IsUserExistForPersonID]
@PersonID int
as
begin
Select Found = 1 from Users
where PersonID = @PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateApplication]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_UpdateApplication]
@PersonID int,
@Status tinyint,
@ApplicationDate datetime,
@ApplicationID int
as
begin
Update UserJoiningApplications 
set PersonID = @PersonID
, status = @Status
, ApplicationDate = @ApplicationDate
where ApplicationID = @ApplicationID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCart]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_UpdateCart]
@CartID int,
@CustomerID int
as
begin
	Update Carts 
	set CustomerID = @CustomerID
	where CartID = @CartID
end

Select * from Carts
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCategory]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_UpdateCategory]
@CategoryID int,
@CategoryName nvarchar(50),
@Description nvarchar(max),
@LastUpdateDate datetime,
@AddedByUserID int
as
begin
Update Categories
set CategoryName = @CategoryName
,Description = @Description
,LastUpdateDate = @LastUpdateDate
,AddedByUserID =  @AddedByUserID
where CategoryID = @CategoryID;

end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomer]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateCustomer]
@CustomerID int,
@PersonID int,
@Balance int
as
begin
Update Customers
set PersonID = @PersonID,
Balance = @Balance
where CustomerID = @CustomerID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItem]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_UpdateItem]
@CartID int,
@ProductID int,
@Quantity int,
@ItemID int
as
begin
	Update CartItems
	set CartID = @CartID,
	ProductID = @ProductID,
	Quantity = @Quantity
	where ItemID = @ItemID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePerson]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_UpdatePerson]
@PersonID int, @FirstName nvarchar(50), @SecondName nvarchar(50), @ThirdName nvarchar(50),
@LastName nvarchar(50), @NationalityCountryID int, @Gender tinyInt, @DateOfBirth datetime
, @Phone nvarchar(20), @Email nvarchar(200), @Address nvarchar(200), @ImageUrl nvarchar(Max)
as
begin
Update People Set FirstName = @FirstName
, SecondName = @SecondName,
ThirdName = @ThirdName,
LastName = @LastName,
NationalityCountryID = @NationalityCountryID,
Gender = @Gender,
DateOfBirth = @DateOfBirth,
Phone = @Phone,
Email = @Email,
Address = @Address,
ImageUrl = @ImageUrl
where PersonID = @PersonID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProduct]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_UpdateProduct]
@ProductID int,
@Name nvarchar(50),
@Description nvarchar(Max),
@CategoryID int,
@ProducingDate DateTime,
@ExpiryDate DateTime,
@Quantity int,
@Price int,
@LastRefillDate DateTime,
@AddedByUserID int,
@ImageUrl nvarchar(Max),
@LastOperationDate DateTime
as
begin
Update Products
set Name = @Name,
Description = @Description,
CategoryID = @CategoryID,
ProducingDate = @ProducingDate,
ExpiryDate = @ExpiryDate,
Quantity = @Quantity,
Price = @Price,
LastRefillDate = @LastRefillDate,
AddedByUserID = @AddedByUserID,
ImageUrl = @ImageUrl,
LastOperationDate = @LastOperationDate
where ProductID = @ProductID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSale]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateSale]
@SaleID int,
@CartID int,
@SaleStatus tinyint,
@AddedByUserID int,
@SaleDate datetime
as
begin
Update Sales
set CartID = @CartID, SaleStatus = @SaleStatus
, AddedByUserID = @AddedByUserID, SaleDate = @SaleDate
where SaleID = @SaleID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 19/07/2026 11:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateUser]
@UserID int, 
@UserName nvarchar(20),
@Password nvarchar(64),
@PersonID int,
@Permission int,
@IsActive bit
as
begin
Update Users
Set UserName = @UserName,
Password = @Password,
PersonID = @PersonID,
Permission = @Permission,
IsActive = @IsActive
where UserID = @UserID
end
GO
USE [master]
GO
